/* style.css */
* {
  font-family: monospace;
}

h1 {
  background-color: blue;
  color: white;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

div {
  background-color: #4166F5;
  padding: 35px;
  font-size: 24;
  color: green;
/*  margin: 0 auto;*/
  max-width: 300px;
  word-wrap: break-word;
}

.selector a {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: white;
  text-decoration: none;
  padding: 0 2em;
  margin: 0 -2px;
}

.selector:hover {
  background-color: #acace6;
}
